<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
<!-- HTML shimがこの1行で収まる -->
    <%= render 'layouts/shim' %>
    
  </head>
  <body>
<!-- ここにheaderがあるが､すっきりさせるためにパーシャルで移動｡views/layouts/_header~　に転載-->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
